.footer {
    padding: 3rem 0rem 2rem 0rem;
    background-color: #202124;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__image{
        width: 10rem;
        margin-bottom: 0.8rem;
    }
}

.contacts {
    margin-bottom: 2rem;
    // padding: 0rem 3rem;

    &__list {
        // display: flex;
        // align-items: center;
        // justify-content: space-around;
        list-style: none;
    }

    &__items{
        margin-bottom: 0.8rem;
    }
}

.copyright {
    // padding: 0rem 3rem;
    // margin-bottom: 2rem;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        font-size: 0.8rem;
    }
}

