.footer {
    padding: 3rem 0rem;
}

.contacts {
    margin-bottom: 2rem;
    padding: 0rem 3rem;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }
}

.copyright {
    padding: 0rem 3rem;
    margin-bottom: 2rem;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }
}