@import url('react-toastify/dist/ReactToastify.css');
.Toastify__toast-body {
    font-family: "Raleway", sans-serif !important;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    padding: 0px !important;
    width: auto;
    margin-left: 2.5rem !important;
}

.Toastify__toast--default {
    border-radius: 50px !important;
}

.Toastify__toast>button>svg {
    display: none;
}

.Toastify__toast--success {
    padding: 0px !important;
    margin-left: 1rem !important;
}

.Toastify__toast--error {
    padding: 0px !important;
    line-height: 40px !important;
    width: 24rem;
    margin-left: 1rem !important;
}